/* App Styles */

html {
    font-size: 62.5%;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6rem;
  color:white;
  background-color: white;
  text-align: center;
}

#container {
    background-color: #6743F9;
    margin: 2rem 4rem 2rem 4rem;
    border:solid 5px #A894FA;
    border-radius: 150px 10px;
    transform: skew(-2deg);
    box-shadow: 0px 16px 40px 0px #1765F5;
    height: 800px;
}

#app-title {
    font-family: 'Norican', cursive;
    font-size: 50px;
    font-weight: 300;
    margin: 5rem 0rem 0rem 0rem;
    text-shadow: -15px 10px 20px #A894FA;
}

#app-subtitle {
    font-family: 'Kalam', cursive;
    font-size: 2.5rem;
    margin: 1rem 0rem 0rem 0rem;
}

#number-input {
    font-family: 'Source Sans Pro', cursive;
    margin: 2rem auto 2rem auto;
    font-size: 3.5rem;
    width: 300px;
    border: none;
}

#text-output {
    margin: 1rem;
    font-size: 2.5rem;
}











